/*paleta
151515
301B3F
3C415C
B4A5A5
*/
/*
vermelho
#AAD127
#FAFF3B
#537A00
#EDEFEF
*/
/*like button??*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nabla&family=Quicksand:wght@300&family=Raleway:wght@300;800&display=swap');
body{
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1C362C;
}
/*----------------menu--------------------------------------------------*/
ul li a{
    text-decoration-line: none;
    color: white;
}
.navitens{
    text-align: right;
    height: 200px;  
}
ul#grid{
    display: grid;
    grid-template-columns: 8% 10%;
    grid-template-rows: 5vh 13vh 13vh;
    justify-content: end;
    align-items: start;
    justify-items: center;
    align-content: center;
    margin: 30px 30px 0px 0px;
}

.navitens ul li{
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;  
}
.d{
    color: white;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}
.font-size{
    font-size: 1.1em;
}
.git{
    width: 100%;
    text-align: center;
    grid-column:1;
}
.atr{
    grid-column:2;

}
.git_link{
    margin-top: 20px;
    font-size: 1em; 
    visibility: hidden;
    opacity: 0; 
    grid-column:1;
    grid-row: 2;
    color: rgb(255, 255, 255);
    background-color: rgba(73, 67, 67, 0.397);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    width: 99%;
    transition-delay: 125ms;
    transition-duration: 0.3s;
}
.git:hover + li{
    margin-top: 0px;
    visibility: visible;
    opacity: 1; 
}
.git_link:hover{
    margin-top: 0px;
    visibility: visible;
    opacity: 1; 
}
.l{
    opacity: 0;
    visibility: hidden;
    transition-delay: 125ms;
    text-align: center;
    transition: 0.3s;
    background: rgba(73, 67, 67, 0.397);
}
.atr_link1{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 100px;
    grid-column:2;
    grid-row: 2; 
    transition-delay: 125ms;
}
.atr_link2{
    width: 99%;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
    grid-column:2;
    grid-row: 3;
    background: rgba(73, 67, 67, 0.397);
    transition-delay: 125ms;
}
.atr:hover + li + li, .atr:hover + li, .atr + li:hover + li, .atr + li:hover{
    margin-top: 15px;
    visibility: visible;
    opacity: 1; 
}
.viewnav{
    opacity: 1; 
    margin-top: 15px;
    visibility: visible; 
}
/*----------------------------------------------------------------------*/
#titulo{
    margin-top: -40px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #B4A5A5;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#titulo::before{
        content: "";
        display: inline-flex;
        background: url(IMAGES/xingar.png) no-repeat;
        background-size: 88px;
        width: 94px;
        height: 88px;
        margin: -10px 0 0 0px;
}
/*-----------------------------------------------------*/
/*-----conteiner da caixa do texto------------------------------*/
.conteiner{
    width: 100%;
    height: 100vh;
    text-align: center; 
    align-items: center; 
    margin: 10px 0px 0px 0px;
}
#divtexto{
    position: relative;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    width: clamp(55%, 100% - 25vw,95% ) ;
    min-height: 100px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #fff; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
}
#divtexto p{
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
}
/*------conteiner dos botoes--------------------------------------------*/
.conteiner2{
    width: 50vw;
    display: grid;
    grid-template-columns: 11% 9% 9% 9% 8% 13%;
    gap: 0.1rem;
    width: 100%;
    margin: 100px 0px 10px 0px;
    max-height: 80px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.slidecontainer {
    grid-column:2;
    grid-row:2;
    -webkit-appearance: none;  /* Override default CSS styles */
    margin: 0px 0px 0px 0px;
    appearance: none;
    border-radius: 5px;
    width: 100px; /* Full-width */
    height: 5px; /* Specified height */
    background: #B4A5A5; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slidecontainer::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #B9CD04; /* Green background */
    border-radius: 30px;
    cursor: pointer; /* Cursor on hover */
}
.slidecontainer:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#label{
    grid-column: 1;
    grid-row: 2;
   margin: 0px 0px 0px 0px;  /*n de palvras*/
   color: white;
   font-family: 'Raleway', sans-serif;
}
#button{
    grid-column:6;
    grid-row:2;
    width: 100%;
    height: 6vh;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px;
    text-align: center;
    line-height: 50%;

    border: 3px solid #AAD127;
    border-radius: 5px;
    background: #FAFF3B;
    color: rgb(88, 88, 88);
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 #AAD127;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
#button:hover{
    transform: scale(1.02);
    animation: all 1s;
    box-shadow: inset 0px 100px 0px 0px #AAD127;    
}
#copy{
    grid-column: 5;
    grid-row:2;
    margin: 0px 0px 0px 0px;
    width: 42px;
    filter: invert();
}
#copy:hover{
    transform: scale(1.02);
}
.tooltiptext{
grid-column: 5;
grid-row: 1;
width:fit-content;
  color: white;
  background-color: rgb(53, 53, 53);
  padding: 2px;
  border: solid 1px transparent;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  font-family: 'Raleway', sans-serif;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.mob{
    display: contents;
}  
.mob2{
    display: contents;
}
  .view {
    visibility: visible;
    opacity: 1;
  } /*"copiar" when hover*/
.notview{
   visibility: hidden;
    opacity: 0;
}
/*-------------------------------------*/
.mf{
    display: inline-block;
    grid-row: 2;
    cursor: pointer;
    color: white;
    position: relative;
    padding: 0px 0px 0px 10px;
    line-height: 50px;
}
.mf > p{
    display: inline-block;
    padding: 0px 0px 0px 10px;
    margin-top: -5px;
    
}
input[type="radio"]{
    display: none;
}
span.checkmark{
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
    transform: translateY(25%);
}
input[type="radio"]:checked ~ .checkmark{
    background-color: #FAFF3B;
}
/*-------------------------------------*/
label[for=spread]{
    grid-column: 2;
    color: white;
    background-color: #AAD127;
    padding: 5px;
    border-radius: 50% 50% 100% 100%;
    margin: 00px 0px 0px 0px;
}
@media (min-width: 1200px) {
    #divtexto{
        max-width: 60%;
    }
}
@media (max-width: 1200px) {
    .conteiner2{
        grid-template-columns: 16% 14% 14% 14% 13% 18%;
    }
}
@media (max-width: 780px) {
    #titulo{
        margin: -6em 0em 0em 0em;
        
        justify-content: flex-start;
        align-content: flex-start;
        font-size: 1.8em;
    }
    #titulo::before{
        justify-content: flex-start;
        align-content: flex-start;
        background-size: 50px;
        width: 55px;
        height: 60px;
        margin: 0px 0 0 15px;
        transform: translateY(15%);
    }
    .conteiner{
        margin-top: 5vh;
    }
    .conteiner2{
        display: block;
    } 
    .mob{
        display: grid;
        grid-template-columns: 40% 40% 10%;
        grid-template-rows: 8vh 8vh;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        margin-top: -20vh;
    }
    .mf{
        font-size: 1em;
    }
    span.checkmark{
        width: 20px;
    height: 20px;
    }
    #label{
        grid-column: 1;
        grid-row: 1;
    }
    #spread{
        grid-column: 2;
        grid-row: 1;
    }
    label[for=spread]{
        grid-column: 3;
        grid-row: 1;
        background-color: #AAD127;
        padding: 5px;
        border-radius: 20% 20% 20% 20%;
        margin: 00px 0px 0px 0px;
    }
    .mob2{
        display: grid;
        grid-template-columns: 50vw;
        grid-template-rows: 2vh 8vh 8vh;
        margin-top: 25vh;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        margin-top: 22vh;
        gap: 1em;
    }
    #button{
        grid-column: 1;
        grid-row: 3;
    }
    #copy{
        grid-column: 1;
        grid-row: 2; 
    }
    .tooltiptext{
        grid-column: 1;
        grid-row: 1;
    }
    .navitens{
        visibility: hidden;
    }
    
}